@media(max-width:1000px){
  .content{
    width:50%;
  }

  .conteiner{
    width:100%;
  }
}


@media(max-width:640px){
  .content{
    width:100%;
  }
  .conteiner{
    width:100%;
  }
  .sentence{
      text-align:left;
  }
  
}
